
.admin_panel{
    padding: 6rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

h3{
    display: inline-block;
    margin-bottom: 1rem;
}

.admin_panel button{
width: 20%;
padding: 0.5rem 1rem;
margin-bottom: 0.5rem;
    background-color: rgb(237, 185, 185);
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
}